import setuptools
from setuptools import setup

setup(
    name='{{name}}',
    version='1.0.0',
    author='easyDataverse',
    license='MIT License',
    packages=setuptools.find_packages(),
    entry_points={
        "console_scripts": ["{{name.lower()}}=easyDataverse.cli:main"]
    },
    install_requires=[
        {%- for req in requirements %}
        '{{req}}',
        {%- endfor %}
    ]
)